<div class="site-cart">
	<a href="/cart" class="site-header__cart" title="{{ 'layout.cart.title' | t }}">
		<i class="ad hicon ad-bag-l" aria-hidden="true"></i>
		<span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ cart.item_count }}</span>
	</a>
	<div id="header-cart" class="block block-cart">
		<ul class="mini-products-list" data-cart-view="data-cart-view">
        	<li id="cart-title" class="text-center" rv-show="cart.item_count | lt 1">{{ 'cart.general.empty' | t }}</li>
         	<li class="grid" rv-each-item="cart.items">
            	<a class="grid__item one-third product-image" rv-href="item.url"><img rv-src="item.image" rv-alt="item.title" /></a>
              	<div class="grid__item two-thirds product-details">
                	<a href="#" class="remove" rv-data-cart-remove="index | plus 1"><i class="ad ad-times-l" aria-hidden="true"></i></a>
                  	<a class="pName" rv-href="item.url" rv-text="item.title"></a>
                  	<ul rv-hide="item.propertyArray | empty">
                    	<li rv-each-property="item.propertyArray < properties"><small class="text-muted">{property.name}: {property.value}</small></li>
                  	</ul>
                  	<div class="priceRow">
                    	<div class="product-price" rv-html="item.price | money currency.currentCurrency"></div> 
                      	<span class="prodMulti"> X </span> 
                      	<div class="qtyField">
							<a href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">-</a>
                            <span rv-text="item.quantity"></span>
                            <a class="opt" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">+</a>
                      	</div>
                  	</div>
	                <!--div class="total" rv-html="item.line_price | money currency.currentCurrency"></div--> 
				</div>
          	</li>
        </ul>
    	<ul class="mini-products-list" data-cart-view="data-cart-view">
        	<li class="total" rv-show="cart.item_count | gt 0"> 
              <label>{{ 'cart.label.total' | t}}:</label> 
              <span class="product-price" rv-html="cart.total_price | money currency.currentCurrency"></span>
              <span class="gst">Including <strong class="product-gst" rv-html="cart.total_price | times 0.1 | divided_by 1.1 | money currency.currentCurrency"></strong> GST (Goods and Services Tax)</span>
            </li>
        	<li class="buttonSet text-center" rv-show="cart.item_count | gt 0">
            	<a id="inlinecheckout-cart" href="/cart" class="btn btn--secondary btn--small">{{ 'cart.general.view_cart' | t }}</a>
              	{%- if settings.terms_checkbox -%}
                    <div class="cart_tearm">
                        <input type="checkbox" name="tearm" id="cartDWtearm" class="checkbox" value="tearm" required /> 
                        <label for="cartDWtearm"><span class="checkbox"></span> {{ 'cart.general.tearm_condition' | t}}</label>
                    </div>
                {%- endif -%}
              	<form action="/cart" method="post" novalidate>
                    <input type="submit" name="cart" id="minicartCheckout" class="btn cartDWcheckout" value="{{ 'cart.general.checkout' | t }}" {% if settings.terms_checkbox %}disabled="disabled"{% endif %} />
                </form>
        	</li>
     	</ul>
  	</div>
</div>