<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

  {% include 'social-meta-tags' %}

  {% include 'head-css' %}
  {% if settings.rtl %}{{ 'theme-rtl.scss.css' | asset_url | stylesheet_tag }}{% else %}{{ 'theme.scss.css' | asset_url | stylesheet_tag }}{% endif %}
  <style type="text/css">
      .template-password .shopify-section { height: 100vh }
      .password-page { display: table; height: 100%; width: 100%; color:{{settings.color_body_text}}; background-color:{{settings.color_body_bg}}; background-size: cover }
      .ie9 .password-page { height: auto }
      .password-page .errors, .password-page .form--success { max-width: 500px; margin-left: auto; margin-right: auto }
      .password-header__inner { vertical-align: middle }
      .password-login { padding: 0 30px; text-align: right }
      .password-login .js-modal-open-login-modal { padding-top: 30px; display: inline-block }
      .password-logo .logo { color:{{settings.color_body_text}}; font-weight: 700; max-width: 100% }
      .password-main { width: 100%; height: 100%; margin: 0 auto; display: table; vertical-align: middle }
      .password-main__inner { vertical-align: middle; padding: 15px 30px }
      .password-message { max-width: 500px; margin: 45px auto 15px }
      .password__input-group { max-width: 340px; margin: 0 auto 30px }
      .password__title { margin-bottom: 45px }
      .password__form-heading { margin-bottom: 30px }
      .password-powered-by { margin-top: 45px }
      #LoginModal.modal { width:100%; max-width:100%; height:100%; top:0; left:0;  position:absolute; }
      .modal--is-active { display: block; opacity: 1; overflow: hidden }
      .modal__inner { -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; height: 100% }
      .modal__centered { -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); position: relative; top: 50% }
      .no-csstransforms .modal__centered { top: 20% }
      .modal__close { border: 0; padding: 30px; position: fixed; top: 0; right: 0 }
      .modal__close .icon { font-size: 1.53846em }
  </style>
  
  <!-- main js -->
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'password.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'password.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password">
  {{ content_for_layout }} 
</body>
</html>
