<div class="page-width feature-row wow fadeIn" data-wow-delay="100ms">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if section.settings.image != blank %}
        {{ section.settings.image | img_url: '600x' | img_tag: section.settings.image.alt, 'feature-row__image' }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row">
  
     {% if section.settings.layout == 'left' %}
		{{ image_layout }}
     {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} {{ section.settings.text_align }}">
      <div class="row-text">
      {%- if section.settings.title != blank -%}      
          <h2 class="h2">{{ section.settings.title | escape }}</h2>           
       {%- endif -%}
      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
      </div>    
    </div>
    {% if section.settings.layout == 'right' %}
   	 {{ image_layout }}
    {% endif %} 
   
  </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "class": "index-section",
    "settings": [
 	 {
		"type":"paragraph",
		"content":"For Best Resoultion recommanded width: 700px or larger for fullwidth layout"
	 },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, 
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
    {
        "type": "select",
        "id": "text_align",
        "label": "Text Align",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Text on left"
          },
          {
            "value": "text-right",
            "label": "Text on right"
          },
		  {
            "value": "text-center",
            "label": "Text center"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },	
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
