{% capture siteHeader %}
	{%- comment -%}****	Top Announcement **** {%- endcomment -%}
	{%- if section.settings.message -%}
		<div class="notification-bar{% if section.settings.message_mobile == false %} mobilehide{% endif %} {{ section.settings.promotion_view}}"> 
        	{%- if section.settings.message_link != blank -%}
          		<a href="{{ section.settings.message_link }}" class="notification-bar__message">{{ section.settings.message_text | escape }}</a>
          	{%- else -%}
          		<span class="notification-bar__message">{{ section.settings.message_text | escape }}</span>
          	{%- endif -%}
          <span class="close-announcement"><i class="ad ad-times-r"></i></span>
		</div>
	{%- endif -%}

	{%- comment -%}****	Top Header **** {%- endcomment -%}
  	{% if section.settings.top_header %}
	<div class="top-header {% unless section.settings.top_header_mbl == true %}small--hide {% endunless %}{% unless section.settings.boxedheader == true %}b-gutter-size {% endunless %}clearfix {{ section.settings.header_case}}">
  		{% if section.settings.boxedheader %}<div class="page-width">{% endif %}
      	<div class="grid--table grid--no-gutters">
      		<div class="grid__item top_left">
              
        		{%- if settings.show_multiple_currencies -%}{% include 'standard-country-picker' %}{%- endif -%}
             
                {% if settings.show_language %}
                <div class="language-picker">
                  <span class="ttl">{{ settings.default_language }}</span>
                  <ul id="language" class="cnrLangList">
                    {% for link in linklists[settings.languages].links %}
                    <li><a href="{{ link.url }}">{{ link.title | split: '[' | first }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              
        		{%- if section.settings.top_header_left_text != blank -%}<div class="top-header_left-text">{{ section.settings.top_header_left_text }}</div>{%- endif -%}
      		</div>
          <div class="grid__item top_right text-right"><div class="hide large-up--show">{%- include 'customer-links' -%}</div></div>
		</div>
      {% if section.settings.boxedheader %}</div>{% endif %}
	</div>
  	{% elsif settings.show_multiple_currencies %}
  		<div class="hide">{% include 'currency-picker' %}</div>
  	{% endif %}

  	{%- capture searchBtn -%}<button type="button" class="btn--link site-header__search-toggle"><i class="ad hicon ad-search-l" aria-hidden="true"></i><span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span></button>{%- endcapture -%}
  	{%- capture image_size -%}500x{%- endcapture -%}
  	{%- capture siteLogo -%}
  		{%- if section.settings.logo -%}
			<a href="{{shop.url}}" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}" style="max-width:{{ section.settings.logo_max_width }}px;"><img src="{{ section.settings.logo | img_url: image_size }}" srcset="{{ section.settings.logo | img_url: image_size, scale: 2 }} 1x, {{ section.settings.logo | img_url: image_size, scale: 4 }} 1.1x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo"></a>
		{%- else -%}<a class="site-header__logo-link" href="{{shop.url}}" itemprop="url">{{ shop.name }}</a>{%- endif -%}
  	{%- endcapture -%}
  
  
    {%- capture customerLinks -%}  
    	<div class="my-account">{%- include 'customer-links' -%}</div>
    {%- endcapture -%}
  
	{%- comment -%}****	Main Header **** {%- endcomment -%}
	<div class="header-wrap{% if settings.classic_header and template == 'index' %} classicHeader{% endif %}" data-section-id="{{ section.id }}" data-section-type="header-section">
        {% if section.settings.boxedheader %}<div class="page-width">{% endif %}
		<header class="site-header{% unless section.settings.boxedheader == true %} b-gutter-size{% endunless %}{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="header">    
				{%- comment -%}****	Mobile Icon **** {%- endcomment -%}
              	<div class="navBarCol large-up--hide">
                  <button type="button" class="btn--link js-mobile-nav-toggle mobile-nav--open"><i class="ad hicon ad-bars-r"></i><i class="ad hicon ad-times-l"></i></button>
                  {{customerLinks}}  
          		</div>
          
				{%- if section.settings.align_logo == 'center' -%}<div class="site-search-left{% unless section.settings.top_header %} big{% endunless %}"></div>{%- endif -%}

				{%- comment -%}****	Site Logo **** {%- endcomment -%}
				 {% if template contains "index" %}	
                  	<h1 class="site-header__logo">{{siteLogo}}</h1>
                 {% else %}
                    <div class="site-header__logo h1">{{siteLogo}}</div>
                 {% endif %}

				{%- if section.settings.align_logo == 'left' -%}<nav id="AccessibleNav" role="navigation">{% include 'navigation' %}</nav>{%- endif -%}

				{%- comment -%}****	Logo left - cart, search, customer link **** {%- endcomment -%}
				<div class="site-header__icons-wrapper text-right">
					{{searchBtn}}
                    {%- unless section.settings.top_header == true -%}{{customerLinks}}{%- endunless -%}                
				    {%- unless settings.catalog-mode -%}{% include 'mini-cart' %}{%- endunless -%}
				</div>  
		</header>
      {% if section.settings.boxedheader %}</div>{% endif %}
		<!-- logo center - navigation -->
		{%- if section.settings.align_logo == 'center' -%}<nav class="belowlogo" id="AccessibleNav" role="navigation">{%- include 'navigation' -%}</nav>{%- endif -%}
	</div>
{% include 'mobile-navigation' %}
{% endcapture %}
{{ siteHeader | strip_newlines | remove: "  " | remove: "	" }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {%- if section.settings.logo -%}
    {%- assign image_size = section.settings.logo.width | append:'x' -%}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {%- endif -%}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
{%- if template.name == 'index' -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Header",
    "settings": [		
	  {
        "type": "checkbox",
        "id": "boxedheader",
        "label": "Boxed Width?",
        "default": false
      },	 
	  {
		"type": "header",      
        "content": "Top Announcement"        
	  },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Display announcement?",
        "default": false
      },
	 {
        "type": "checkbox",
        "id": "message_mobile",
        "label": "Display in mobile?",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
	 {
        "type": "select",
        "id": "promotion_view",
        "label": "Announcement Design View",
        "default": "small",        
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Big",
            "value": "big"
          }
        ]
      },
      {
		"type": "header",      
        "content": "Top Header"        
	  },
     {
        "type": "checkbox",
        "id": "top_header",
        "label": "Display?",
        "default": true
      },
 	 {
        "type": "checkbox",
        "id": "top_header_mbl",
        "label": "Display in mobile?",
        "default": true
      },
	  {
        "type": "textarea",
        "id": "top_header_left_text",
        "label":"Top Header Left Text",
        "default": "+440 0(111) 044 833",
"info": "You can place any text here. Wrap text in <p>text here</p>tags [copy sample text from here](https://codebeautify.org/htmlviewer/cb8a85bc).  [Find icons from here](http:\/\/adornthemes.com\/ad-icons\/)"
         },	
     {
        "type": "select",
        "id": "header_case",
        "label": "Top Header Text Transform",
        "default": "uppercase",
        "options": [        
          {
            "value": "capitalize",
            "label": "Capitalize"
          },         
          {
            "value": "uppercase",
            "label": "Uppercase"
          }
        ]
      },
     {
		"type": "header",      
        "content": "Main Header"        
	  },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
	  {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },     
      {
		"type": "header",      
        "content": "Navigation"        
	  },
	  {
        "type": "checkbox",
        "id": "menuarrow",
        "label": "Show Arrow",
        "default": true
      },
      {
        "type": "select",
        "id": "menuAlign",
        "label": "Menu Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
      	]
      },
      {
		"type": "paragraph",
        "content": "Menu Labels"
	  },
	  {
        "type": "text",
        "id": "nm_label1",
        "label":"Menu Label 1",
        "default": "New"
      },
	  {
        "type": "text",
        "id": "nm_label2",
        "label":"Menu Label 2",
        "default": "Sale"
      },
	  {
        "type": "text",
        "id": "nm_label3",
        "label":"Menu Label 3",
        "default": "Hot"
      },
	  {
        "type": "text",
        "id": "nm_label4",
        "label":"Menu Label 4",
        "default": "Populer"
      },
	  {
        "type": "text",
        "id": "nm_label5",
        "label":"Menu Label 5",
        "default": "New"
      },
      {
		"type": "paragraph",
        "content": "Click on 'Add Content' button below to add navigation links."
	  }
    ],
    "blocks": [
      {
        "type": "homelink",
        "name": "Home Link"        
      },
	  {
        "type": "single_link",
        "name": "Single Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          }
        ]
      },
	  {
        "type": "megamenu1",
        "name": "Megamenu Style 1",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 3
          },
          {
            "type": "text",
            "id": "product_ttl",
            "label": "Product Title",
            "default": "Featured Product"
          },
          {
            "type": "product",
            "id": "megamenu1_product",
            "label": "Select Product"
          },
          {
            "type": "image_picker",
            "id": "megamenu1_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "Image1url",
            "label": "Link on Image"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu2",
        "name": "Megamenu Style 2",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 5
          },
          {
            "type": "image_picker",
            "id": "megamenu1_image",
            "label": "Image 1",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "Image1url",
            "label": "Image 1 Link"
          },
          {
            "type": "image_picker",
            "id": "megamenu2_image",
            "label": "Image 2",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "Image2url",
            "label": "Image 2 Link"
          },
          {
            "type": "image_picker",
            "id": "megamenu3_image",
            "label": "Image 3",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "Image3url",
            "label": "Image 3 Link"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu3",
        "name": "Megamenu Style 3",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
		  {
            "type":"header",
        	"content": "Column 1"
          },
          {
            "type": "text",
            "id": "ttl1",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu1_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "ttlurl1",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol1",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 2"
          },
          {
            "type": "text",
            "id": "ttl2",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu2_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "ttlurl2",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol2",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 3"
          },
          {
            "type": "text",
            "id": "ttl3",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu3_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl3",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol3",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 4"
          },
          {
            "type": "text",
            "id": "ttl4",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu4_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl4",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol4",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 5"
          },
          {
            "type": "text",
            "id": "ttl5",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu5_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl5",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol5",
            "label": "Select Menu"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu4",
        "name": "Megamenu Style 4",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 3
          },
          {
            "type": "image_picker",
            "id": "mm4_bg",
            "label": "Background Image"
          },
          {
            "type": "select",
            "id": "mm4_img_position",
            "label": "Image Position",
			"default": "right",
            "options": [
              { "value": "left","label": "Left" },
              { "value": "right", "label": "Right" }
            ]
          },
          {
            "type": "select",
            "id": "mm4_space",
            "label": "Space for Image",
			"default": "30%",
            "options": [
              { "value": "20%","label": "20%" },
              { "value": "30%", "label": "30%" },
              { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
              { "value": "60%", "label": "60%" },
              { "value": "70%", "label": "70%" }
            ]
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu5",
        "name": "Megamenu Style 5",
        "settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu",
			"info": "You need upload images for each menu links. Image name must be same as link name and use '-' instead of space. Example(Women Clothing = women-clothing.jpg) Upload images at 'Store admin > settings > files'"
          },
          {
            "type": "select",
            "id": "mm_linkStyle",
            "label": "Title Possition",
			"default": "over",
            "options": [
              { "value": "above", "label": "Above Image" },
			  { "value": "over", "label": "Over Image" },
              { "value": "below", "label": "Below Image" }
            ]
          },
          {
            "type": "select",
            "id": "mmcolumns",
            "label": "Select Columns",
			"default": "one-fifth",
            "options": [
              { "value": "one-third", "label": "3" },
              { "value": "one-quarter", "label": "4" },
              { "value": "one-fifth", "label": "5" },
              { "value": "one-sixth", "label": "6" },
			  { "value": "one-seventh", "label": "7" },
			  { "value": "one-eighth", "label": "8" }
            ]
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu6",
        "name": "Products",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
          	"type": "collection",
          	"id": "collection",
          	"label": "Sellect Collection"
          },
          {
            "type": "range",
            "id": "pr_limit",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Products Limit",
            "default": 6
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 2
          },
          {
            "type": "text",
            "id": "prodall",
            "label": "Button Text",
            "default": "View All Products"
          },
          {
            "type": "header",
            "content": "=== Featured Column ==="
          },
          {
            "type": "checkbox",
            "id": "ftcl",
            "label": "Enable ?",
			"default": true
          },
          {
            "type": "range",
            "id": "ftcl_width",
            "min": 20,
            "max": 80,
            "step": 1,
            "label": "Columns Width",
			"unit": "%",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "ftcl_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "ftcl_title",
            "label": "Title"
          },
          {
            "type": "range",
            "id": "ftcl_title_size",
            "min": 13,
            "max": 100,
            "step": 1,
            "label": "Title Size",
            "default": 30
          },
          {
            "type": "text",
            "id": "ftcl_subtitle",
            "label": "Sub Title"
          },
          {
            "type": "range",
            "id": "ftcl_subtitle_size",
            "min": 10,
            "max": 40,
            "step": 1,
            "label": "Sub Title Size",
            "default": 15
          },
          {
            "type": "text",
            "id": "ftcl_btn",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "ft_link",
            "label": "Link"
          },
          {
            "type": "color",
            "id": "ftcl_bg",
            "label": "Background",
            "default": "#333"
          },
          {
            "type": "color",
            "id": "ftcl_txt",
            "label": "Text",
            "default": "#fff"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          }
        ]
      }
    ]
  }
{% endschema %}
