<div class="password-table">
  <div class="password-cell imgbg" style="{% if section.settings.bg_img %} background-image: url({{ section.settings.bg_img | img_url: 'master' }}); background-repeat:no-repeat; background-position:50% 50%; background-size:cover; {% endif%}"></div>
  
<div class="password-page password-cell	text-center">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action">
            <i class="ad ad-lock-al"></i> 
          </a>
        </div>
      </div>
    </header>

    <div class="password-main text-center" role="main">
      <div class="password-main__inner">
        
        <!-- main content -->
        {% if section.settings.logo %}
              <a href="/" itemprop="url" class="site-header__logo-image">
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo">
              </a>
          {% else %}
              <h1 class="site-header__logo-link" href="/" itemprop="url">
                <span class="logo">{{ shop.name }}</span>
              </h1>
          {% endif %}

          <h2 class="password__title">{{ section.settings.header }}</h2>

          {% comment %}
            Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
          {% endcomment %}
          {% unless shop.password_message == blank %}
            <div class="password-message">
              {{ shop.password_message }}
            </div>
          {% endunless %}

          {% if section.settings.newsletter_enable %}
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <ul class="form--success">
                  <li>{{ 'general.password_page.signup_form_success' | t }}</li>
                </ul>
              {% else %}
                <p class="password__form-heading h4">
                  {{ section.settings.newsletter_form_heading  }}
                </p>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                <div class="input-group password__input-group">
                  <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
                  <span class="input-group__btn">
                    <button type="submit" name="commit" class="btn">
                      <span>{{ section.settings.newsletter_button_text  }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          {% endif %}

          {% if section.settings.show_share_buttons %}
            <div class="password-social-sharing">
              <p class="password__form-heading h4 social-msg">{{ section.settings.social_message  }}</p>
              {% include 'social-sharing' %}
            </div>
          {% endif %}
        
        <!-- content end-->
        
        
        
      </div>
    </div>
  
  	 <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group password__input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">{{ 'general.password_page.login_form_submit' | t }}</button>
              </span>
            </div>
          {% endform %}
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
    <button type="button" class="modal__close js-modal-close text-link">
      <i class="ad ad-times-l"></i>
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
  </div>
  
  </div>

</div>

<style>
  .password__title,
  .password__form-heading,
  .social-sharing .ad,
  .password-login .ad { color:{{ section.settings.txt_clr}}; }
  .password-login .ad { font-size:16px;}
  .social-sharing  .share-title { display:none;}
  .social-msg { margin-bottom:15px;}
  .site-header__logo-image {margin-bottom:10px;}
  .password__title { margin-bottom:30px; }
  .password-message { margin-top:30px; }
  .password-table {display:table; height:100%; width:100%;}
  .password-cell { width:50%; display:table-cell; vertical-align:middle; text-align:center; position:relative;}
  .password-page { background-color:{{section.settings.bg_clr}}; }
  .password-page .modal { background-color:{{section.settings.bg_clr}}; }
  .password-header { position:absolute; right:0; }
  .password-main__inner {display:table-cell; }
  #LoginModal {transform:none;}
  @media only screen and (max-width: 766px) {
    .password-cell { width:100%; display:block; position:absolute; width:100%; height:100%; }
    .imgbg:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:{{section.settings.bg_clr}}; opacity:0.75; }
    .password-page.password-cell { width:100%; display:table-cell; vertical-align:middle; text-align:center; position:relative; z-index:5; }
    .password-page { background:none; }
    .modal--is-active .password-main { display:none; }
    .password-page .modal { background:none; }
    .password-main__inner { padding:10px; }
  }
</style>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
 	{
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
	  {
        "type": "color",
        "id": "bg_clr",
        "label": "Background color"
      },
	  {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Upload image"
      },
	  {
        "type": "color",
        "id": "txt_clr",
        "label": "Text color"
      },     
      {
        "type": "textarea",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      },
 	  {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "textarea",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
 	  {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "textarea",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}