{% capture slideshow %}
<div data-section-id="{{ section.id }}" class="inner sl{{section.settings.navigation}}{% if settings.classic_header and template == 'index' %} classic{% endif %}{% unless section.settings.fullwidth %} page-width{% endunless %}" data-section-type="slideshow-section">
	{%- if section.blocks.size > 0 -%}
    	<div class="slideshow-wrapper">
			<div class="slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}">
        		{%- for block in section.blocks -%}
					<div class="slideshow__slide slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            			{%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}" class="slideshow__link">{%- endif -%}

						{% if block.settings.image == blank %}
                          <div class="slideshow__image slideImg-{{block.id}} {{ block.settings.textalign }} js">
                            <div class="placeholder-background">{% capture current %}{% cycle 1, 2 %}{% endcapture %}{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
                          </div>
                        {% else %}
                          <div class="slideshow__image js{% if block.settings.mb_image != blank %} small--hide{% endif %}">
                               <div class="slideshow__image {% if section.settings.imageffect %}img-animate {% endif %}slideImg-{{block.id}} {{ block.settings.textalign }} lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                                   data-bgset="{% include 'bgset', image: block.settings.image %}" data-sizes="auto" data-parent-fit="contain"
                                   style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '100x' }}');">
                              </div>
                          </div>
                          {% if block.settings.mb_image != blank %}
                          <div class="slideshow__image js medium-up--hide">
                               <div class="slideshow__image {{ block.settings.textalign }} lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                                   data-bgset="{% include 'bgset', image: block.settings.mb_image %}" data-sizes="auto" data-parent-fit="contain"
                                   style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.mb_image | img_url: '100x' }}');">
                              </div>
                          </div>
                          {% endif %}
                        {% endif %}
            			<div class="slideshow__text-wrap{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__overlay{% endif %}{% if settings.classic_header and template == 'index' %} classic{% endif %} {{block.settings.vttextalign}}">
              				<div class="slideshow__text-content {{block.settings.vttextalign}}">
                				<div class="page-width">
                  					<div class="wrap-caption {{block.settings.textalign}}">
                  						{%- unless block.settings.title == blank -%}
                    					<h2 class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}">{{ block.settings.title | escape }}</h2>
                  						{%- endunless -%}
                  						{%- unless block.settings.subheading == blank -%}
                    					<span class="mega-subtitle slideshow__subtitle">{{ block.settings.subheading | escape }}</span>
                  						{%- endunless -%}
										{%- if block.settings.slide_button_text != blank -%}<span class="btn" >{{ block.settings.slide_button_text }}</span>{%- endif -%}
                  					</div>
                				</div>
              				</div>
            			</div>
            			{%- if block.settings.link != blank -%}</a>{%- endif -%}
          			</div>
        		{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	{%- if section.blocks.size == 0 -%}<div class="placeholder-noblocks">{{ 'homepage.onboarding.no_content' | t }}</div>{%- endif -%}
</div>
{% endcapture %}
{{ slideshow | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section index-section--flush slideshowOuter",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "imageffect",
        "label": "Enable Image Animation Effect",
        "default": false
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "4000", "label": "4 seconds" },
		  { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      },
      {
        "type": "select",
        "id": "slideshow_height",
        "label": "Section height",
        "default": "small",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Full Screen",
            "value": "full"
          }
        ]
      },
      {
        "type": "select",
        "id": "navigation",
        "label": "Navigation Style",
        "options": [
          { "value": "arrow", "label": "Left/Right Arrow" },
		  { "value": "dot", "label": "Pagination Dots" },
          { "value": "both", "label": "Both" }
        ],
        "default": "arrow"
      },
	  {
		"type":"paragraph",
		"content":"For Best Resoultion recommanded image size: 1900x750(Large), 1900x600(medium) and 1900x450(small). All image must be same sized."
	  }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Mobile Image",
			"info": "Do not select image here if same image want for mobile and desktop"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              { "value":"top", "label":"Top" },
              { "value":"center", "label":"Middle" },
              { "value":"bottom", "label":"Bottom" }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "textarea",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          },
         {
            "type": "text",
            "id": "slide_button_text",
            "label": "Slide Button Text",
 			"default":"Shop now"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "select",
            "id": "textalign",
            "label": "Text alignment",
            "default": "center",
            "options": [
              { "value":"left", "label":"Left" },
              { "value":"center", "label":"Center" },
              { "value":"right", "label":"Right" }
            ]
          },
          {
            "type": "select",
            "id": "vttextalign",
            "label": "Vertical alignment",
            "default": "middle",
            "options": [
              { "value":"top", "label":"Top" },
              { "value":"middle", "label":"Middle" },
              { "value":"bottom", "label":"Bottom" }
            ]
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "7000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
